/*
*  Name: 		Dennis Kimble
*  Filename: 	kimble_dennis_assignment02.css
*/


body {
	font-family: Arial, Helvetica, sans-serif;
	background-color:  seagreen;
	margin: 0 auto;
	width: 970px;
	border: 3px solid #4A4A98;
	padding: 0 2em 1em;
}
h1 {
	color: blue;
}
label {
	width: 5em;
	text-align: right;
}
span {
	color: red;
}
